.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0px;
  padding-right: 0;
  overflow: hidden;
  z-index: 0;
  background-color: #1f1f1f;
  color: #f2f2f2;
}
