.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  }



.header {
  position: fixed;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-direction: column;

  }

.logo__place__header {
  position: absolute;
  height:32px;
  width: 183px;
  left: 64px;
  top: 30px;
  }

.header__title {
  width: 730px;
  left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-style: bold;
  }

.header__subtitle {
  position: absolute;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  bottom: 30px;
  left: 64px;
  top: 300px;
}

.header__link {
 position: absolute;
 width: 388px;
 bottom: 30px;
 left: 64px;
 top: 300px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0%;
  top: 64px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  background-color: white;
  margin-right: 0;
  margin-top: 80px;
}
