.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

  }

.header {
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo__place__header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo {
  height: 32px;
  width: 183px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  text-align: left;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  display: block;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  right: 0%;
  top: 64px;
}

.content {
  display: flex;
  flex-direction: column;
}


.description {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: auto;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  text-align: start;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-title {
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
}

.feynman {
  height: 790px;
  max-height: 790px;
  align-items: center;
  display: flex;
  position: relative;
  flex-flow: column;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 648px;
  z-index: 1;
  margin-top: 0;
  margin-bottom: 0;
}

.feynman__subtitle {
  z-index: 1;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 0;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  z-index: 1;
  color: #2f80ed;
}

.backround-feyman {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0;
}

.kaufman {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 0px;
  padding-right: 0;
  overflow: hidden;
  z-index: 0;
  background-color: #000000;
  color: #f2f2f2;
}

.section-title  {
  position: relative;
  text-align: center;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
}

.section-subtitle {
  position: relative;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

}
.table__theme__dark {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-top: 0px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  right: -210px;
  height: 877px;
  width: 877px;
  top: 0px;
  z-index: -1;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  color: #f2f2f2;
}

.footer__columns {
  position: relative;
  min-height: 350px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.footer__column__copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.footer__list-item {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  color: #f2f2f2;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
}
