.khan__buy-link {
  margin-left: 48px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 42px;
  font-size: 30px;
  font-style: normal;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.4;
  transition:0.3s linear;
}
